.projects-container {
  text-align: center;
  color: #00ff00;
  margin-top: 20px auto;
  width: 80%;
  max-width: 700px;
}

.project-item {
  margin: 20px 0;
}

h3 {
  font-size: 1.8rem;
  color: #00ff00;
}

p {
  font-size: 1.2rem;
  margin: 5px 0;
  text-align: left;
}

strong {
  color: #00ff00;
}
